.RadioItems_radio_input {
  display: none;
}

.RadioItems_radio_label {
  border: 1px solid #16445e;
  border-radius: 10px;
  padding: 8px;
  background-color: white;
  color: #16445e;
  box-shadow: 0px 0px 1.5px black;
  margin: 10px 10px 10px 0px;
}

.RadioItems_radio_input:checked + .radio_label {
  background-color: #2d6be3;
  color: white;
  border: none;
}
