--root {
  --input-width: 30%;
  --btn-color: #da1b24;
}
.Homepage_heading_Container {
  margin: 50px !important;
}

.Homepage_VfLogoContainer {
  position: absolute;
  bottom: 5px;
}

.HomePage_form_container {
  background-color: #e7fbff;
  height: 100vh;
  padding: 50px;
}

.HomePage_form_navigation {
  border-radius: 30px;
  border: 1px solid grey;
  padding: 10px;
  height: fit-content;
}

.HomePage_back_btn {
  opacity: 0.5;
  color: grey;
}

.HomePage_next_btn {
  height: 1.6rem;
  width: 4rem;
  background-color: #da1b24;
  border: none;
  box-shadow: 0px 0px 1.5px black;
  border-radius: 10px;
  color: white;
}

.HomePage_close_btn {
  height: 30px;
  width: 30px;
}

@media only screen and (max-width: 768px) {
  .HomePage_Felix {
    display: none;
  }
}
