:root {
  --input-width: 30%;
  --close-btn: #da1b24;
  --heading-clr: #16445e;
}
.Homepage_HeadingContainer.Homepage_HeadingContainer {
  margin-top: 40px;
}

.Homepage_VfLogoContainer.Homepage_VfLogoContainer {
  margin-bottom: 10px;
}

.HomePage_FormContainer {
  background-color: #e7fbff;
  height: 100vh;
  padding: 50px;
}

.HomePage_FormNavigation {
  border-radius: 30px;
  border: 1px solid grey;
  padding: 10px;
  height: fit-content;
}

.HomePage_BackBtn {
  opacity: 0.5;
  color: grey;
}

.HomePage_NextbBtn {
  height: 1.6rem;
  width: 4rem;
  background-color: var(--close-btn);
  border: none;
  box-shadow: 0px 0px 1.5px black;
  border-radius: 10px;
  color: white;
}

.HomePage_CloseBtn {
  height: 30px;
  width: 30px;
}

.HomePage_PhoneHeading.HomePage_PhoneHeading {
  margin-top: 30px;
  color: var(--heading-clr);
  font-family: "Open Sans", sans-serif;
}

.HomePage_Felix {
  height: 300px;
}

@media only screen and (min-width: 768px) {
  .HomePage_PhoneHeading {
    display: none;
  }
  .HomePage_Felix {
    height: 600px;
  }
}
