.Homepage_HeadingContainer.Homepage_HeadingContainer {
  margin-top: 40px;
}

.Homepage_VfLogoContainer.Homepage_VfLogoContainer {
  margin-bottom: 10px;
}

.HomePage_FormContainer {
  background-color: var(--form-background);
  height: 100vh;
  padding: 50px;
}

.HomePage_FormNavigation {
  border-radius: 30px;
  border: 1px solid grey;
  padding: 10px;
  height: fit-content;
}

.HomePage_BackBtn {
  opacity: 0.5;
  color: grey;
}

.HomePage_NextbBtn {
  height: 1.6rem;
  width: 4rem;
  background-color: var(--primary-btn);
  border: none;
  box-shadow: 0px 0px 1.5px var(--dark);
  border-radius: 10px;
  color: var(--light);
}

.HomePage_CloseBtn {
  height: 30px;
  width: 30px;
}

.HomePage_PhoneHeading.HomePage_PhoneHeading {
  margin-top: 30px;
  color: var(--primary);
  font-family: "Open Sans", sans-serif;
}

.HomePage_Felix {
  height: 300px;
}

.HomePage_Cloud {
  position: absolute;
  top: 10px;
  right: 400px;
}

@media only screen and (min-width: 768px) {
  .HomePage_PhoneHeading {
    display: none;
  }
  .HomePage_Felix {
    height: 600px;
  }
}

@media only screen and (max-width: 768px) {
  .HomePage_FormSteps.HomePage_FormSteps {
    display: none;
  }
  .HomePage_form_navigation {
    bottom: 0px;
    position: absolute;
    left: 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--light);
    border-bottom: none;
  }
}
