@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,300&display=swap");

:root {
  --email-error: #da1b24;
  --email-error-background: #ffe0e1;
  --headings: #16445e;
}

.StepOne_btn {
  height: 1.6rem;
  width: 13.5rem;
  background-color: var(--email-error);
  border: none;
  box-shadow: 0px 0px 1.5px black;
  border-radius: 30px;
  padding: 0px 15px;
  margin: 5px 5px 5px 0px;
}

.StepOne_email_error {
  color: var(--email-error);
  padding-left: 5px;
}

.StepOne_Error {
  background-color: var(--email-error-background);
  border-radius: 30px;
  border: none;
  height: 1.6rem;
  width: 11.5rem;
  box-shadow: 0px 0px 1.5px black;
  padding: 0px 15px;
  margin: 5px 5px 5px 0px;
  border: 1px solid var(--email-error);
}

.StepOne_TextField {
  background-color: white;
  border-radius: 30px;
  border: none;
  height: 2rem;
  width: 11.5rem;
  box-shadow: 0px 0px 1.5px black;
  padding: 0px 15px;
  margin: 5px 5px 5px 0px;
}

.StepOne_Heading {
  color: var(--headings);
  font-family: "Open Sans", sans-serif !important;
}

.StepOne_SubHeading {
  color: var(--headings);
  font-family: sans-serif !important;
  margin-bottom: 50px !important;
}

@media only screen and (max-width: 768px) {
  .StepOne_SubHeading {
    display: none;
  }
  .StepOne_Heading {
    display: none;
  }
}
