.DateField {
  --datafield: #6d97eb;
}

.DataField_label {
  color: var(--datafield);
  font-weight: bold;
}

.DataField_data {
  background-color: var(--datafield);
  color: var(--light);
  font-weight: bold;
  border-radius: 15px;
  padding: 5px;
}

.DataField_container {
  margin: 10px;
}
