:root {
  --datafield-label: #6d97eb;
  --datafield-background: #6d97eb;
  --datafield-text: #fff;
}

.DataField_label {
  color: var(--datafield-label);
  font-weight: bold;
}

.DataField_data {
  background-color: var(--datafield-background);
  color: var(--datafield-text);
  font-weight: bold;
  border-radius: 15px;
  padding: 5px;
}

.DataField_container {
  margin: 10px;
}
