@import "../../GlobalStyles.css";

:root {
  --placeholder: grey;
}

.InputField_TextField {
  background-color: var(--light);
  color: var(--primary);
  border-radius: 30px;
  border: none;
  height: 2rem;
  width: 85%;
  box-shadow: 0px 0px 1.5px var(--dark);
  padding: 0px 15px;
  margin: 5px 5px 5px 0px;
}

.InputField_TextField::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: var(--placeholder);
}

.InputField_TextField:focus {
  border: none important!;
}

.InputField_Error {
  background-color: var(--error-background);
  border-radius: 30px;
  border: none;
  height: 2rem;
  width: 85%;
  box-shadow: 0px 0px 1.5px var(--dark);
  padding: 0px 15px;
  margin: 5px 5px 5px 0px;
  border: 1px solid red;
}

.InputField_label {
  font-weight: 600;
  color: var(--primary);
}

.InputField_ErrorText {
  color: var(--error-text);
}
