.FormHeading_heading {
  color: #16445e;
  font-weight: bold !important;
  margin-bottom: 50px !important;
}

@media only screen and (min-width: 768px) {
  .FormHeading_PhoneScreen {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .FormHeading_BigScreen {
    display: none;
  }
}
