.FormHeading_heading {
  color: var(--primary);
  font-weight: bold;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .FormHeading_PhoneScreen {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .FormHeading_BigScreen {
    display: none;
  }
}
