:root {
  --primary: #16445e;
  --error-background: #ffe0e1;
  --primary-btn: #da1b24;
  --form-background: #e7fbff;
  --error: #ff0000;
  --secondary-background: #2d6be3;
  --light: #fff;
  --dark: #000;
}
