@import "./GlobalStyles.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.FormHeading.FormHeading {
  color: var(--primary);
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .FormHeading.FormHeading {
    font-size: 1rem;
    text-align: center;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
